@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { margin: 0; padding: 0; background: #ffffff; }
* { box-sizing: border-box; }
::selection { background: #f7efe9; }
a { color: #414141; text-decoration: none; transition: color 0.4s ease; }
a:hover { color: #dea27a; }
